extends layout

block content
	div.row.well.about
		h3.gray
			img(src='/favicon.ico', height=50, width=50)
			span.margin-left 关于我
		br
		p Weibo: 
			a(href='http://weibo.com/u/2022409905' target='_blank') 陈宏鑫的博客
		p E-mail: 445248079@qq.com
		
